* {
  box-sizing: border-box;
}
h1,
p {
  font-family: Lato;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  max-width: 400px;
}
form label {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
  color: gray;
}
form input[type='checkbox'] {
  display: inline-block;
}

form input[type='text'],
form input[type='password'] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: blue;
  outline-color: gray;
  border-color: #000;
}
form input:focus {
  border-color: gray;
}

form button {
  width: 100%;
  padding: 12px;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: #1229a299;
  margin-top: 15px;
  color: #1229a2;
  cursor: pointer;
}
form button:hover {
  color: #fff;
  background-color: #1229a2;
}

form .sso-signin {
  text-align: center;
  padding-top: 50px;
}
form .sso-signin a {
  font-weight: bold;
  color: #1229a2;
  text-decoration: none;
}

.error_email,
.error_pwd {
  display: none;
  color: red;
  font-weight: bold;
}

.policy {
  display: flex;
}
.policy span {
  color: #000;
  font-weight: bold;
}
